* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D8C49E;
}

@media (min-width:769px) {
    .desktop-only{
        display:flex;
    }
    .mobile-only {
        display: none;
    }
    .home {
        width: 1058px;
        height: 372px;
    }

    .gallery {
        width: 736px;
        height: 489px;
    }

    .shop-preview {
        width: 305px;
        height: 312px;
        margin: 25px;
    }

    figure {
        display:flex;
    }

    figcaption {
        width:100%;
    }

    .image-left {
        flex-direction: row;
        padding-left: 50px;
        padding-right: 50px;
    }

    .image-right {
        flex-direction: row-reverse;
        padding-left: 50px;
        padding-right: 50px;
    }

    li {
        display: inline;
        float: right;
        padding: 0px 5px 5px 25px;
        font-size: 44px;
    }

    a:link, a:hover, a:visited {
        text-decoration: none;
        color: white;
        font-family: "Major Mono Display", monospace;
        font-weight: 400;
        font-style: normal;
    }

    p {
        font-family: "Kolker Brush", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 86px;
    }
    
    .exhibit-p {
        padding: 50px;
        font-size: 64px;
    }
    .shop-para {
        padding: 15px;
        text-align: left;
        width:25vw;
    }

    .cart-para {
        padding-left: 30px;
        padding-right: 30px;
    }

    h1 {
        font-family: "Major Mono Display", monospace;
        font-weight: 400;
        font-style: normal;
        font-size: 48px;
        padding-top: 29px;
        padding-left: 50px;
    }

    h2 {
        font-family: "Kolker Brush", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 96px;
        padding:0px 40px 0px 40px;
    }

    h3 {
        font-family: "Major Mono Display", monospace;
        font-weight: 400;
        font-style: normal;
        font-size: 32px;
        padding-top:20px;
    }

    h4 {
        font-family: "Major Mono Display", monospace;
        font-weight: 400;
        font-style: normal;
        font-size: 96px;
    }

    .exhibitionheader {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .cart-button{
        float:right;
        padding:15px 15px 0px 0px;
    }

    .shop-button {
        padding: 15px 0px 0px 15px;
    }

    #wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        height: 100%;
    }

    #flexparent {
        display: flex;
        flex-direction: column;
        position:relative;
        width:100%;
        height:100%;
    }

    #widecolumn {
        width: 100%;
        height: 144px;
        background-color: #BD0707;
        color: white;
        position:sticky;
        top: 0;
    }

    #widecolumn3 {
        width: 100%;
        height: 96px;
        background-color: indianred;
        color: white;
        position: sticky;
        top: 144px;
    }

    #widecolumn1 {
        width: 100%;
        height: 128px;
        background-color: #A0361B;
        color: white;
        justify-content: center;
        position: fixed;
        margin-top: auto;
        text-align: center;
        bottom:0;
    }

    #widecolumn2 {
        width: 100%;
        height: 128px;
        background-color: #A0361B;
        color: white;
        justify-content: center;
        position: sticky;
        margin-top: auto;
        text-align: center;
        bottom: 0;
    }

    .flexbox {
        display: flex;
        padding-top: 10px;
        justify-content: space-between;
        margin: 50px auto 10px auto;
    }

    .flexbox1 {
        display: flex;
        justify-content: space-between;
        margin: 10px auto 20px auto;
        text-align: center;
    }

    .flexbox2 {
        display: flex;
        justify-content: space-between;
        margin: 10px auto 20px auto;
        text-align: center;
    }

    .flexbox3 {
        display: flex;
        justify-content: space-between;
        margin: 10px auto 20px auto;
        text-align: center;
    }

    .flexbox4 {
        display: flex;
        justify-content: space-between;
        margin: 10px auto 20px auto;
        text-align: center;
    }

    .flexbox5 {
        display: flex;
        justify-content: space-between;
        margin: 10px auto 20px auto;
        text-align: center;
    }

    .flexbox6 {
        display: flex;
        justify-content: space-between;
        margin: 10px auto 20px auto;
        text-align: center;
        padding-bottom:100px;
    }
    
    .flexboxend {
        display: flex;
        justify-content: space-between;
        margin: 10px auto 20px auto;
        text-align: center;
        padding-bottom: 100px;
    }

    .major-mono-display-regular {
        font-family: "Major Mono Display", monospace;
        font-weight: 400;
        font-style: normal;
    }

    .kolker-brush-regular {
        font-family: "Kolker Brush", cursive;
        font-weight: 400;
        font-style: normal;
    }
}

@media (max-width:768px) {
    .desktop-only {
        display: none;
    }
    .mobile-only{
        display:flex;
    }

    .home {
        width: 480px;
        height: 372px;
    }


    .gallery {
        width: 480px;
        height: 480px;
    }

    .shop-preview {
        width: 200px;
        height: 200px;
        margin: 25px;
    }

    li {
        display: inline;
        float: right;
        padding: 0px 5px 5px 5px;
        font-size: 18px;
        color: white;
    }

    a:link, a:hover, a:visited {
        text-decoration: none;
        color: white;
        font-family: "Major Mono Display", monospace;
        font-weight: 400;
        font-style: normal;
    }

    p {
        font-family: "Kolker Brush", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 48px;
        margin:20px;
    }

    .exhibit-p {
        padding: 50px;
        font-size: 48px;
    }
    
    .shop-para {
        padding: 15px;
        text-align: left;
        width: 50vw;
    }

    .cart-para {
        padding-left: 30px;
        padding-right: 30px;
    }

    h1 {
        font-family: "Major Mono Display", monospace;
        font-weight: 400;
        font-style: normal;
        font-size: 24px;
        padding-top: 7px;
        padding-left: 11px;
    }

    h2 {
        font-family: "Kolker Brush", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 36px;
    }

    h3 {
        font-family: "Major Mono Display", monospace;
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        padding-top:7px;
    }

    h4 {
        font-family: "Major Mono Display", monospace;
        font-weight: 400;
        font-style: normal;
        font-size: 36px;
    }

    .exhibitionheader {
        padding-top: 15px;
        padding-bottom: 10px;
    }

    .cart-button {
        float: right;
        padding: 15px 15px 0px 0px;
    }

    .shop-button {
        padding: 15px 0px 0px 15px;
    }

    #wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-height:100vh;
    }

    #flexparent {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    #widecolumn {
        width: 100vw;
        height: 64px;
        background-color: #BD0707;
        color: white;
        position: sticky;
        top:0;
    }
    
    #widecolumn3 {
        width: 100vw;
        height: 64px;
        background-color: indianred;
        color: white;
        position: sticky;
        top: 64px;
    }

    #widecolumn1 {
        width: 100%;
        height: 72px;
        background-color: #A0361B;
        color: white;
        justify-content: center;
        position: fixed;
        margin-top: auto;
        text-align: center;
        bottom:0;
    }

    #widecolumn2 {
        width: 100%;
        height: 72px;
        background-color: #A0361B;
        color: white;
        justify-content: center;
        position: sticky;
        margin-top: auto;
        text-align: center;
        bottom: 0;
    }

    .flexbox {
        display: flex;
        padding-top: 89px;
        justify-content: flex-end;
        margin: 10px auto 20px auto;
    }

    .flexbox1 {
        display: flex;
        justify-content: center;
        margin: 10px auto 20px auto;
        text-align: center;
    }

    .flexbox2 {
        display: flex;
        justify-content: space-between;
        margin: 10px auto 20px auto;
        text-align: center;
    }

    .flexbox3 {
        display: flex;
        justify-content: space-between;
        margin: 10px auto 20px auto;
        text-align: center;
    }

    .flexbox4 {
        display: flex;
        justify-content: space-between;
        margin: 10px auto 20px auto;
        text-align: center;
    }

    .flexbox5 {
        display: flex;
        justify-content: space-between;
        margin: 10px auto 20px auto;
        text-align: center;
    }

    .flexbox6 {
        display: flex;
        justify-content: space-between;
        margin: 10px auto 20px auto;
        text-align: center;
        padding-bottom: 100px;
    }

    .flexshop1 {
        display: flex;
        justify-content: space-between;
        margin: 10px auto 20px auto;
        text-align: center;
    }

    .flexshop2 {
        display: flex;
        justify-content: space-between;
        margin: 10px auto 20px auto;
        text-align: center;
    }

    .flexshop3 {
        display: flex;
        justify-content: space-between;
        margin: 10px auto 20px auto;
        text-align: center;
    }

    .flexshop4 {
        display: flex;
        justify-content: space-between;
        margin: 10px auto 20px auto;
        text-align: center;
    }

    .flexshop5 {
        display: flex;
        justify-content: space-between;
        margin: 10px auto 20px auto;
        text-align: center;
    }

    .flexboxend {
        display: flex;
        justify-content: space-between;
        margin: 10px auto 20px auto;
        text-align: center;
        padding-bottom: 100px;
    }

    .major-mono-display-regular {
        font-family: "Major Mono Display", monospace;
        font-weight: 400;
        font-style: normal;
    }

    .kolker-brush-regular {
        font-family: "Kolker Brush", cursive;
        font-weight: 400;
        font-style: normal;
    }
}