* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #D8C49E;
}

#flexparent{
    
}

#widecolumn {
    width: 100%;
    height: 144px;
    background-color: #BD0707;
    color: white;
}

#widecolumn1 {
    width: 100%;
    height: 128px;
    background-color: #A0361B;
    color:white;
    
}

.flexbox{
    padding-top: 89px;
    justify-content: center;
}

.flexbox1{

}