.header
{
    background-color:crimson;
}

.size{
    font-size:20px;
}

.weight{
    font-weight:bold;
}

.form {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    /*font-weight: ;*/
    font-style: normal;
}

.structure{

}

.texture{
    font-weight:bold;
}

.color{
    color:gold;
}

.direction{
    writing-mode:tb-rl;
}

.other{

}
h1, h2 {
    font-family: "lumios-brush", sans-serif;
    font-weight: 400;
    font-style: normal;
}